html {
    background-color: #020659;
}

body {
    display: grid; 
    width: 375px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

header {
    grid-row:2/3;
    background-color: #020873;
    background: linear-gradient(90deg, rgba(33,4,217,1) 0%, rgba(2,6,89,1) 33%, rgba(2,6,89,1) 66%, rgba(0,0,0,1) 100%);
}

h1, h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 20px;
    color: #590242;
    line-height: 1em;
}

header, p, h1, h2 {
    padding: 0 32px 0 32px;
}

header p {
    color: #FFFFFF;
    font-size: 1em;
}

nav {
    grid-row: 1/2;
    background-color: #030A8C;
    text-transform: uppercase;
    position: relative;
}

nav ul {
    text-align: center;
}

nav h2 {
    visibility: hidden;
    height: 1px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #2104D9;
    max-height: 0;
    transition: max-height .2s ease-out;
}

li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #FFFFFF;
}

[href="home"] {
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 30px;
    padding: 16px 16px;
    position: absolute;
    top: 0px;
    left: 90px;
    z-index: 1;
}

a:hover, input:hover {
    background-color: #590242;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

label span {
    background-color: #FFFFFF;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
}

.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll section {
    margin: 10px;
    position: relative;
}

.scroll div {
    position: absolute;
    top: 25px;
    background-color: #FFFFFF;
    padding: 5px;
    height: 50px;
    width: 350px;
}

dl {
    display: flex;
}

dt {
    padding-right: 5px;
}

audio {
    postion: absolute;
    bottom: 150px;
    left: 5px;
}

.more {
    text-decoration: none;
    background-color: #590242;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    width: 15px;
    display: block;
    text-align: center;
    margin: 10px 0 30px 32px;
}

#trending ::-webkit-scrollbar {

}
#trending ::-webkit-scrollbar-track {

}
#trending ::-webkit-scrollbar-thumb {

}
#trending ::-webkit-scrollbar-thumb:hover {

}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {

}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {

}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {

}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {

}